apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - name: gateway-external
      namespace: gateway
  hostnames:
    - "audiobookshelf.blarc.my.id"
  rules:
    - backendRefs:
        - name: {{ .Release.Name }}
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /
