traefik:
  fullnameOverride: traefik
  providers:
    kubernetesCRD:
      enabled: false
    kubernetesIngress:
      enabled: false
    kubernetesGateway:
      enabled: true

  logs:
    general:
      level: INFO
    access:
      enabled: true

  ingressClass:
    enabled: false

  ports:
    web:
      port: 8000
      exposedPort: 80
      expose:
        default: true
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
    websecure:
      port: 8443
      exposedPort: 443
      expose:
        default: true
    web-external:
      port: 9000
      exposedPort: 80
      expose:
        external: true
      redirections:
        entryPoint:
          to: websecure-external
          scheme: https
          permanent: true
    websecure-external:
      port: 9443
      exposedPort: 443
      expose:
        external: true

  # Gateways are defined as templates
  gateway:
    enabled: false

  service:
    annotations:
      lbipam.cilium.io/ips: "192.168.1.228"
    additionalServices:
      external:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "192.168.1.229"