apiVersion: vpn.wireguard-operator.io/v1alpha1
kind: Wireguard
metadata:
    name: wireguard
spec:
    serviceType: NodePort
    port: 31820
    address: {{ .Values.publicAddress }}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
    name: wireguard
spec:
    jobLabel: wireguard
    selector:
        matchLabels:
            app: wireguard
    namespaceSelector:
        matchNames:
            - wireguard
    endpoints:
        - port: metrics
          interval: 30s
          path: /metrics
          honorLabels: true
          scheme: http
          scrapeTimeout: 30s
