csi-driver-nfs:
  storageClass:
    create: true
    name: nfs
    parameters:
      server: 192.168.1.13
      share: /storage/k8s-vols
      # Useful for ZFS to ensure pods can write
      mountPermissions: "0775"
    reclaimPolicy: Delete
    volumeBindingMode: WaitForFirstConsumer
    mountOptions:
      - nfsvers=4.2
      # Tells the client (Talos) that if the NAS goes down, it should keep retrying the connection forever rather than
      # giving up and reporting an error to the application. This prevents your apps from crashing immediately if you
      # reboot your NAS.
      - hard
      # define the maximum amount of data sent in a single network packet
      - rsize=1048576 # Optimization for large ZFS pools
      - wsize=1048576 # Optimization for large ZFS pools