argo-cd:
  fullnameOverride: argo-cd
  namespaceOverride: argo-cd
  crds:
    install: false
  createClusterRoles: true
  global:
    domain: argo-cd.blarc.my.id
  redis-ha:
    enabled: true
  server:
    replicas: 2
    ingress:
      enabled: true

  controller:
    replicas: 1
    roleRules:
      - apiGroups:
          - '*'
        resources:
          - '*'
        verbs:
          - '*'

  applicationSet:
    replicas: 2

  dex:
    enabled: false

  repoServer:
    replicas: 2
    image:
      repository: ghcr.io/blarc/home-k8s/argocd
      tag: v3.2.3-77a17f91
      imagePullPolicy: Always
    imagePullSecrets:
      - name: argocd-gitlab-registry-secret
    env:
      - name: SOPS_AGE_KEY_FILE
        value: /argocd-helm-secrets-private-keys/key.txt
    volumes:
      - name: argocd-helm-secrets-private-keys
        secret:
          secretName: argocd-helm-secrets-private-keys
    volumeMounts:
      - mountPath: /argocd-helm-secrets-private-keys/
        name: argocd-helm-secrets-private-keys
  configs:
#    params:
#      server.insecure: true
    cm:
      admin.enabled: true
      # https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#auto-respect-rbac-for-controller
      resource.respectRBAC: "normal"
      application.resourceTrackingMethod: annotation+label
      helm.valuesFileSchemes: >-
        secrets+gpg-import, secrets+gpg-import-kubernetes,
        secrets+age-import, secrets+age-import-kubernetes,
        secrets, secrets+literal,
        https