immich:
  controllers:
    main:
      containers:
        main:
          image:
            tag: v2.4.1
          env:
            DB_HOSTNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: host
            DB_USERNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: user
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: password
            DB_DATABASE_NAME:
              valueFrom:
                secretKeyRef:
                  name: immich-database-app
                  key: dbname
  immich:
    persistence:
      library:
        existingClaim: immich-data
        size: 1Ti
    configuration:
      oauth:
        enabled: true
        autoRegister: true
        buttonText: "Sign in with Authentik"
        clientId: "hrQQXJ6Vf93NhcmSR1EpZ8Oa3PMala9t9fUY0cq8"
        issuerUrl: "https://authentik.blarc.my.id/application/o/immich/"

  valkey:
    enabled: true
    persistence:
      data:
        # Optional: Set this to persistentVolumeClaim to keep job queues persistent
        type: persistentVolumeClaim
        storageClass: topolvm-thin
        size: 1Gi

  machine-learning:
    persistence:
      cache:
        # Optional: Set this to persistentVolumeClaim to avoid downloading the ML models every start.
        type: persistentVolumeClaim
        storageClass: topolvm-thin
        size: 10Gi
        accessMode: ReadWriteOnce