topolvm:
  # ghcr.io/topolvm/topolvm-with-sidecar@sha256:a8f28a45a8d35c4ae6439a9ed650a43253e1353c2d45e5c112ca5d9b6a554fe3
  image:
    repository: ghcr.io/topolvm/topolvm
    tag: "0.39.0"
    csi:
      # We must point these specifically to images that support amd64
      # and are not the bundled "with-sidecar" image.
      nodeDriverRegistrar: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.13.0
      csiProvisioner: registry.k8s.io/sig-storage/csi-provisioner:v5.1.0
      csiResizer: registry.k8s.io/sig-storage/csi-resizer:v1.13.1
      csiSnapshotter: registry.k8s.io/sig-storage/csi-snapshotter:v8.2.0
      livenessProbe: registry.k8s.io/sig-storage/livenessprobe:v2.15.0
  controller:
    replicaCount: 1
    # Remove because the cluster has only one worker node and it prevents upgrades
    affinity: ""
  lvmd:
    managed: false
    env:
      - name: LVM_SYSTEM_DIR
        value: /tmp
    deviceClasses:
      - name: ssd-thin
        volume-group: topolvm_vg   # Volume Group name used in LVM_Disk_Watcher
        default: true
        spare-gb: 10
        type: thin
        thin-pool:
          name: topolvm_thin       # Logical Volume name used in LVM_Disk_Watcher
          overprovision-ratio: 2.0 # For example: If the overprovisioningRatio is 5.0, pool size is 100GiB, then this pool can be overprovisioned upto (5*100) 500GiB.

  storageClasses:
    - name: topolvm-thin  # Defines name of storage class.
      storageClass:
        # Supported filesystems are: ext4, xfs, and btrfs.
        fsType: xfs
        # Default storage class for dynamic volume provisioning
        # ref: https://kubernetes.io/docs/concepts/storage/dynamic-provisioning
        isDefaultClass: true
        # volumeBindingMode can be either WaitForFirstConsumer or Immediate. WaitForFirstConsumer is recommended because TopoLVM cannot schedule pods wisely if volumeBindingMode is Immediate.
        volumeBindingMode: WaitForFirstConsumer
        # enables CSI drivers to expand volumes. This feature is available for Kubernetes 1.16 and later releases.
        allowVolumeExpansion: true
        additionalParameters:
          topolvm.io/device-class": "ssd-thin"
  node:
    lvmdEmbedded: true
