apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lvm-disk-watcher
spec:
  interval: 30m
  chart:
    spec:
      chart: lvm-disk-watcher
      version: 4.2.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: lvm-disk-watcher-values
