apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
      annotations:
        reloader.stakater.com/auto: "true"
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2501
        runAsGroup: 2501
        fsGroup: 2501
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: {{ .Release.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ "ALL" ]
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            {{- range $name, $config := .Values.persistence }}
            - name: {{ $name }}
              mountPath: /{{ $name }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: http
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: http
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
      volumes:
        {{- range $name, $config := .Values.persistence }}
        - name: {{ $name }}
          persistentVolumeClaim:
            claimName: {{ $.Release.Name }}-{{ $name }}
        {{- end }}
---
{{- range $name, $config := .Values.persistence }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ $.Release.Name }}-{{ $name }}
  namespace: {{ $.Release.Namespace }}
spec:
  {{- if $config.storageClassName }}
  storageClassName: {{ $config.storageClassName }}
  {{- end }}
  accessModes:
    {{- range $config.accessModes }}
    - {{ . }}
    {{- end }}
  resources:
    requests:
      storage: {{ $config.size }}
---
{{- end }}