apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: prowlarr
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - name: gateway-internal
      namespace: gateway
  hostnames:
    - "prowlarr.blarc.my.id"
  rules:
    - backendRefs:
        - name: prowlarr
          port: 9696
      matches:
        - path:
            type: PathPrefix
            value: /
