apiVersion: v1
kind: Secret
metadata:
    name: paperless-ngx
    namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
    PAPERLESS_SECRET_KEY: "{{ .Values.secretKey }}"
    PAPERLESS_ADMIN_PASSWORD: "{{ .Values.adminPassword }}"
    PAPERLESS_SOCIALACCOUNT_PROVIDERS: |-
        {
          "openid_connect": {
            "APPS": [
              {
                "provider_id": "authentik",
                "name": "Authentik",
                "client_id": "{{ .Values.authentik.clientId }}",
                "secret": "{{ .Values.authentik.secret }}",
                "settings": {
                  "server_url": "https://authentik.int.blarc.my.id/application/o/paperless-ngx/.well-known/openid-configuration"
                }
              }
            ],
            "OAUTH_PKCE_ENABLED": "True"
          }
        }
