apiVersion: v1
kind: ConfigMap
metadata:
  name: shelfmark
  namespace: {{ .Release.Namespace }}
data:
  BOOK_LANGUAGE: "en,sl"
  SEARCH_MODE: "universal"
  METADATA_PROVIDER: "hardcover"
  METADATA_PROVIDER_AUDIOBOOK: "hardcover"
  DEFAULT_RELEASE_SOURCE: "direct_download"
  INGEST_DIR: "/books"
  FILE_ORGANIZATION: "organize"
  TEMPLATE_ORGANIZE: "{Author}/{Series}/{Title}/{Title} {Series}, Book {SeriesPosition}"
  HARDLINK_TORRENTS_AUDIOBOOK: "false"
  DESTINATION_AUDIOBOOK: "/audiobooks"
  FILE_ORGANIZATION_AUDIOBOOK: "organize"
  TEMPLATE_AUDIOBOOK_ORGANIZE: "{Author}/{Series}/{Title}/{Title} {Series}, Book {SeriesPosition} {PartNumber}"
  MAX_CONCURRENT_DOWNLOADS: "3"
  HARDCOVER_ENABLED: "true"
  PROWLARR_ENABLED: "true"
  PROWLARR_URL: "http://prowlarr.arr:80"
  PROWLARR_TORRENT_CLIENT: "qbittorrent"
