apiVersion: v1
kind: Service
metadata:
  name: shelfmark
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
    - port: 8084
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: shelfmark