---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: ${clusterName}
talosVersion: 1.12.0
kubernetesVersion: 1.35.0
endpoint: https://192.168.1.16:6443

cniConfig:
  name: none

nodes:
  - hostname: multi-role
    controlPlane: true
    ipAddress: 192.168.1.16
    installDisk: /dev/sdc
    installDiskSelector:
      model: WDC*
    kernelModules:
      - name: dm_thin_pool
      - name: dm_mod
#    userVolumes:
#      - name: data
#        provisioning:
#          minSize: 128 GB
#          grow: true
#          diskSelector:
#            match: disk.model == "FORESEE 512GB SS"

controlPlane:
  patches:
    - |-
      cluster:
        allowSchedulingOnControlPlanes: true
    - |-
      machine:
        kubelet:
          extraMounts:
            - destination: /var/data
              type: bind
              source: /var/data
              options:
                - bind
                - rshared
                - rw
    # Disable kube-proxy
    - |
      cluster:
        apiServer:
          extraArgs:
            # https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/
            enable-aggregator-routing: true
        proxy:
          disabled: true
