apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-data
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs
  resources:
    requests:
      storage: {{ .Values.immich.immich.persistence.library.size }}