argo-cd:
  fullnameOverride: argo-cd
  namespaceOverride: argo-cd
  crds:
    install: false
  createClusterRoles: true
  global:
    domain: argo-cd.blarc.my.id
  server:
    httproute:
      enabled: true
      hostnames:
        - argo-cd.blarc.my.id
      parentRefs:
        - name: gateway-internal
          namespace: gateway
  controller:
    replicas: 1
    roleRules:
      - apiGroups:
          - '*'
        resources:
          - '*'
        verbs:
          - '*'

  dex:
    enabled: false

  repoServer:
    image:
      repository: ghcr.io/blarc/home-k8s/argo-cd
      tag: v3.2.6-e585d251
      imagePullPolicy: Always
    imagePullSecrets:
      - name: argocd-gitlab-registry-secret
    env:
      - name: SOPS_AGE_KEY_FILE
        value: /argocd-helm-secrets-private-keys/key.txt
    volumes:
      - name: argocd-helm-secrets-private-keys
        secret:
          secretName: argocd-helm-secrets-private-keys
    volumeMounts:
      - mountPath: /argocd-helm-secrets-private-keys/
        name: argocd-helm-secrets-private-keys
  configs:
    params:
      server.insecure: true
    cm:
      admin.enabled: true
      # https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#auto-respect-rbac-for-controller
      resource.respectRBAC: "normal"
      application.resourceTrackingMethod: annotation+label
      helm.valuesFileSchemes: >-
        secrets+gpg-import, secrets+gpg-import-kubernetes,
        secrets+age-import, secrets+age-import-kubernetes,
        secrets, secrets+literal,
        https