apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
  namespace: external-dns
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: external-dns
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccountName: external-dns
      containers:
        - name: external-dns
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          image: registry.k8s.io/external-dns/external-dns:v0.20.0
          env:
            - name: ETCD_URLS
              value: http://etcd-headless.etcd.svc.cluster.local:2379
          args:
            - --source=gateway-httproute
#            - --source=gateway-tlsroute
#            - --source=gateway-tcproute
#            - --source=gateway-udproute
            - --provider=coredns
            - --coredns-prefix=/blarcdns/
            - --log-level=debug
