---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/alertmanagerconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager
  namespace: {{ .Release.Namespace }}
spec:
  route:
    receiver: ntfy
    repeatInterval: 12h
    routes:
      # The blackhole is a common pattern in Alertmanager where you define a receiver that has no configuration (no
      # email, no webhook, etc.).
      - receiver: blackhole
        matchers:
          - name: alertname
            value: InfoInhibitor
            matchType: =
#      The Watchdog alert is designed to always be "firing" as long as Prometheus and Alertmanager are alive.
#      - receiver: buddy-heartbeat
#        groupInterval: 2m
#        groupWait: 0s
#        repeatInterval: 2m30s
#        matchers:
#          - name: alertname
#            value: Watchdog
#            matchType: =
      - receiver: ntfy
    groupBy:
      - alertname
      - cluster
      - job
    groupInterval: 5m
    groupWait: 1m

  inhibitRules:
    - equal:
        - alertname
        - namespace
      sourceMatch:
        - name: severity
          value: critical
          matchType: =
      targetMatch:
        - name: severity
          value: warning
          matchType: =

  receivers:
    - name: blackhole
#    - name: buddy-heartbeat
#      webhookConfigs:
#        - httpConfig:
#            bearerTokenSecret:
#              name: alertmanager-secret
#              key: BUDDY_HEARTBEAT_TOKEN
#          urlSecret:
#            name: alertmanager-secret
#            key: BUDDY_HEARTBEAT_URL
    - name: ntfy
      webhookConfigs:
        - httpConfig:
            basicAuth:
              username:
                name: alertmanager
                key: NTFY_USERNAME
              password:
                name: alertmanager
                key: NTFY_PASSWORD
          urlSecret:
            name: alertmanager
            key: NTFY_URL