name: Build Argo CD Image

on:
  push:
    branches:
      - 'renovate/**'
    paths:
      - 'kubernetes/apps/argo-cd/Dockerfile'
  workflow_dispatch:

jobs:
  build-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Compute New Version
        id: compute_version
        shell: bash
        run: |
          DOCKERFILE_PATH="kubernetes/apps/argo-cd/Dockerfile"
          versions=$(grep -E "ARG .*VERSION" "$DOCKERFILE_PATH" | sort | cut -d'=' -f2 | tr -d \" | tr -d 'v' | tr '\n' '-')
          versions_hash=$(echo "$versions" | sha256sum | cut -c1-8)
          argocd_version=$(grep "ARG ARGOCD_VERSION" "$DOCKERFILE_PATH" | cut -d'"' -f2 | tr -d '"')
          new_version="${argocd_version}-${versions_hash}"
          
          REPO_LOWER=$(echo "ghcr.io/${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          echo "NEW_VERSION=${new_version}" >> $GITHUB_OUTPUT
          echo "REPO_LOWER=${REPO_LOWER}" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: kubernetes/apps/argo-cd
          push: true
          tags: |
            ${{ steps.compute_version.outputs.REPO_LOWER }}/argo-cd:${{ steps.compute_version.outputs.NEW_VERSION }}
            ${{ steps.compute_version.outputs.REPO_LOWER }}/argo-cd:latest

      - name: Update values.yaml and Amend
        run: |
          git config user.name "${{ github.event.head_commit.author.name }}"
          git config user.email "${{ github.event.head_commit.author.email }}"

          sed -i "s/\(tag: \).*/\1${{ steps.compute_version.outputs.NEW_VERSION }}/" kubernetes/apps/argo-cd/values.yaml
          git add kubernetes/apps/argo-cd/values.yaml

          git commit --amend --no-edit
          git push --force-with-lease origin ${{ github.ref_name }}